/* CUSTOM PROPERTIES */
:root {
  --myVariable: value;
  --text: #000000;
  --background: #fafaf9;
  --primary: #ffec9e;
  --secondary: #e6e6e6;
}
/* ----------------- */

body {
  margin: 0;
  padding: 2rem;
  font-family: "Segoe UI", Arial, sans-serif;
}
.header {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2.5rem;
}
.header__description {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  max-width: 40rem;
  text-align: justify;
}
.content {
  font-size: 1.1rem;
}
.content img {
  width: 20rem;
}
.content p {
  margin: 0;
  margin-top: 1rem;
}
#code {
  margin-top: 3rem;
}
#code p {
  max-width: 45rem;
  margin: 0;
}
