body {
  padding: 2rem;
}
main {
  font-family: "Segoe UI", Arial, sans-serif;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
p,
label {
  font-family: Verdana, sans-serif;
  font-size: 1rem;
}

.flex {
  display: flex;
}
.flexrow {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.flexrow p {
  margin: 0;
  font-size: 1.6rem;
}
.flexrow button {
  width: 1.5rem;
  height: 2rem;
}
#imgShop {
  height: 6rem;
  margin: 0;
}
.flex div {
  margin: 1rem;
}
#div01 {
  text-align: center;
}
#code {
  margin-bottom: 10rem;
}
